<a class="pull-right" routerLink="/admin/professores">
  <i class="fa fa-arrow-left"></i> Lista de professores</a>

<h1>Alterar Informações</h1>
<hr>
<div class="alert alert-success" *ngIf="editar_ok">
  <strong>Informações Alteradas com sucesso! </strong>
  Continue editando ou <a routerLink="/admin/professores">volte para a lista de professores</a>
</div>
<div class="alert alert-danger" *ngIf="editar_erro">
  <strong>Opa!</strong> Aconteceu um erro ao tentar alterar as informações. Aguarde alguns instantes e tente novamente.
</div>
<form>
  <div class="form-group">
    <label for="nome">Nome</label>
    <input type="text" name="nome" id="nome" class="form-control" [(ngModel)]="nome" required>
  </div>
  <div class="form-group">
    <label for="disciplina">Disciplina</label>
    <select name="disciplinas" id="disciplinas" class="form-control" [(ngModel)]="disciplinas" required>
      <option *ngFor="let disciplina of disciplinas" [value]="disciplina.id">{{disciplina.nome}}</option>
    </select>
  </div>
  <button (click)="editar()" class="btn btn-primary" >Salvar</button>
</form> 