<a class="pull-right" routerLink="/admin/pessoas">
  <i class="fa fa-arrow-left"></i> Lista de pessoas</a>

<h1>Alterar Informações</h1>
<hr>
<div class="alert alert-success" *ngIf="editar_ok">
  <strong>Informações Alteradas com sucesso! </strong>
  Continue editando ou <a routerLink="/admin/pessoas">volte para a lista de pessoas</a>
</div>
<div class="alert alert-danger" *ngIf="editar_erro">
  <strong>Opa!</strong> Aconteceu um erro ao tentar alterar as informações. Aguarde alguns instantes e tente novamente.
</div>
<form>
  <div class="form-group">
    <label for="nome">Nome</label>
    <input type="text" name="nome" id="nome" class="form-control" [(ngModel)]="nome" required>
  </div>
  <div class="form-group">
    <label for="disciplina">Turma</label>
    <select name="turma" id="turma" class="form-control" [(ngModel)]="turmas" required>
      <option *ngFor="let turma of turmas" [value]="turma.id">{{turma.codigo}} | {{turma.ano}}</option>
    </select>
  </div>
  <button (click)="editar()" class="btn btn-primary" >Salvar</button>
</form> 
